@{
    ViewData["Title"] = "blog";
}

<main role="main" class="posts">
    <h1>Blog</h1>
    <div class="posts-group">
        <div class="post-year">2021</div>

        <ul class="posts-list">
            <li class="post-item">
                <a href="2021/03/10/practical-re-win-solutions-ch3-work-items/index.html">
                    <span class="post-title">Work Items &amp; System Worker Threads - &#39;Practical Reverse Engineering&#39; solutions - Part 3</span>
                    <span class="post-day">Mar 10</span>
                </a>
            </li>

            <li class="post-item">
                <a href="2021/02/11/practical-re-win-solutions-ch3-system-threads/index.html">
                    <span class="post-title">System Threads and their elusiveness. &#39;Practical Reverse Engineering&#39; solutions - Part 2</span>
                    <span class="post-day">Feb 11</span>
                </a>
            </li>

            <li class="post-item">
                <a href="2021/01/01/practical-re-win-solutions-ch3-linked-lists/index.html">
                    <span class="post-title">Linked List in the Kernel: &#39;Practical Reverse Engineering&#39; solutions - Part 1</span>
                    <span class="post-day">Jan 1</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="posts-group">
        <div class="post-year">2021</div>

        <ul class="posts-list">
            <li class="post-item">
                <a href="2021/03/10/practical-re-win-solutions-ch3-work-items/index.html">
                    <span class="post-title">Work Items &amp; System Worker Threads - &#39;Practical Reverse Engineering&#39; solutions - Part 3</span>
                    <span class="post-day">Mar 10</span>
                </a>
            </li>

            <li class="post-item">
                <a href="2021/02/11/practical-re-win-solutions-ch3-system-threads/index.html">
                    <span class="post-title">System Threads and their elusiveness. &#39;Practical Reverse Engineering&#39; solutions - Part 2</span>
                    <span class="post-day">Feb 11</span>
                </a>
            </li>

            <li class="post-item">
                <a href="2021/01/01/practical-re-win-solutions-ch3-linked-lists/index.html">
                    <span class="post-title">Linked List in the Kernel: &#39;Practical Reverse Engineering&#39; solutions - Part 1</span>
                    <span class="post-day">Jan 1</span>
                </a>
            </li>

        </ul>
    </div>
</main>
